/*:root {
  --backgroundColor: #eaeae9;
  --textColor: #463636;
  --anotherColor: #bada55;
  --margin: 2rem;
}

*/

:root {
  --colorLighttest: white;
  --colorText: #211f1f;
  --colorMain: #f9d2cb;
  --colorSecondary: #a3f4dc;
  --colorGray: #fafafa;
  --colorGrayDark: #9c9c9c;
  --spacerSmall: .75rem;
  --spacerRegular: 1rem;
  --spacerBig: 1.88rem;
  --fontSmall: .75rem;
  --fontRegular: 1.13rem;
  --fontMedium: 1.25rem;
  --fontBig: 1.75rem;
  --font: 'Roboto', sans-serif;
  --fontWeightRegular: 400;
  --fontWeightBold: 500;
}
